<div class="edit-modal-content" *ngIf="post">
    <h2>Edit Post</h2>
    <input [(ngModel)]="post.title" placeholder="Edit title" required />
    <textarea [(ngModel)]="post.content" placeholder="Edit content" required></textarea>

    <div *ngFor="let path of post?.mediaPaths">
        <ng-container [ngSwitch]="getMediaType(path)">
            <button (click)="deleteMedia(path, post)">x</button>
            <img *ngSwitchCase="'img'" [src]="'http://localhost:8080/' + path" width="100" />
            <video *ngSwitchCase="'vd'" [src]="'http://localhost:8080/' + path" controls width="100"></video>
        </ng-container>
    </div>

    <input type="file" (change)="onFileSelected($event)" multiple>

    <div *ngFor="let url of previewUrls; index as i">
        <button (click)="deleteFileSelected(i)">X</button>
        <img *ngIf="url.startsWith('blob:')" [src]="url" width="100" />
        <video *ngIf="url.startsWith('blob:')" [src]="url" controls width="100"></video>
    </div>


    <div class="edit-modal-actions">
        <button (click)="onSave(post)">Save</button>
    </div>
</div>