<app-sidebar></app-sidebar>
<div class="main-content">
<div class="posts-container">
  <app-post-card
    *ngFor="let post of posts"
    [post]="post"
    [profileData]="profileData"
    (edit)="onEdit($event)"
    (report)="onReport($event)"
    (reaction)="onReact($event)"
    (postCard)="onPostCardSection($event)"
    >
  </app-post-card>
</div>  
</div>

<!-- <div class="edit-modal" *ngIf="selectedPost">
    <app-edit-model
    [selectedPost] = "selectedPost"
    (save)="onSave($event)"
    (close)="onCloseEdit()"
    (file)="onFileSelected($event)"
    (mediaDel)="deleteMedia($event[0], $event[1])"
    ></app-edit-model>
</div> -->
