<div class="post-card" (click)="postCard.emit(post.postUuid)">
    <div class="post-header">
        <div class="post-user-info">
            <img *ngIf="post.profileImagePath"
                 [src]="'http://localhost:8080/' + post.profileImagePath"
                 alt="{{ post.userName }}"
                 class="post-user-avatar">
            <div *ngIf="!post.profileImagePath" class="post-user-avatar-placeholder">
                {{ post.userName?.charAt(0)?.toUpperCase() || '?' }}
            </div>
            <div class="post-user-details">
                <span class="post-author">{{ post.userName }}</span>
                <span class="post-date">{{ post.timestamp }}</span>
            </div>
        </div>
        <h3 class="post-title">{{ post.title }}</h3>
    </div>

    <div class="post-content">
        <p>{{ post.content }}</p>
    </div>

    <app-post-gallery [post]="post" [mediaPaths]="post.mediaPaths"></app-post-gallery>
    <div (click)="$event.stopPropagation()">
        <app-post-likes [post]="post" (reaction)="reaction.emit($event)">
        </app-post-likes>
        <app-post-comments [post]="post"></app-post-comments>
    </div>
</div>