<div class="post-card">
    <button (click)="postCard.emit(post.postUuid)">
        showPost
    </button>

    <div class="post-header">
        <h3 class="post-title">{{ post.title }}</h3>
        <span class="post-date">{{ post.timestamp }}</span>
    </div>

    <div class="post-content">
        <p>{{ post.content }}</p>
    </div>

    <app-post-gallery [post]="post" [mediaPaths]="post.mediaPaths"></app-post-gallery>
    <app-post-likes [post]="post" (reaction)="reaction.emit($event)">
    </app-post-likes>
    <app-post-comments [post]="post"></app-post-comments>
    <div class="post-footer">
        <span class="post-author">By {{ post.userName }}</span>
    </div>
</div>