<div *ngIf="post" class="post-card">
    <div class="post-header">
        <span class="post-username">@{{ post.userName }}</span>
        <br>
        <span class="post-timestamp">{{ post.timestamp }}</span>
    </div>

    <h2 class="post-title">{{ post.title }}</h2>

    <p class="post-content">{{ post.content }}</p>

    <div class="post-images" *ngIf="post.mediaPaths && post.mediaPaths.length > 0">
        <div *ngFor="let mediaPath of post.mediaPaths">
            <ng-container [ngSwitch]="getMediaType(mediaPath)">
                <img *ngSwitchCase="'img'" [src]="'http://localhost:8080/' + mediaPath" width="300" />
                <video *ngSwitchCase="'vd'" [src]="'http://localhost:8080/' + mediaPath" controls width="300"></video>
            </ng-container>
        </div>
    </div>

    <div class="post-footer">
        <button class="likes" (click)="onReact(post.postUuid)">❤️ {{ post.likeCount }}</button>
        <button class="comments" (click)="onComment(post.postUuid)">💬 {{ post.commentCount }}</button>
        <div *ngIf="isCommenting">
            <textarea name="comment" id="cleanForm" placeholder="comment..." #commentData></textarea>
            <button type="submit"
                (click)="onSubmitComment(commentData.value, comment?.postUuid); commentData.value = ''">comment</button>
            <div *ngFor="let instantComment of instantComments">
                <div class="myComment">{{ instantComment }}</div>
            </div>
            <div class="post-comments" *ngFor="let comment of comment?.comments">
                {{ comment?.userName }}
                <br>
                {{ comment?.timesTamp }}
                <br>
                {{ comment?.comment }}
            </div>
        </div>
    </div>
    <div *ngIf="myPost(post.userUuid); else reportBlock" class="post-handler">
        <button (click)="onEdit(post.postUuid)">Edit</button>
        <button (click)="onDelete(post.postUuid)">Delete</button>
    </div>

    <ng-template #reportBlock>
        <button (click)="onReport(post.postUuid)">Report</button>
    </ng-template>
</div>