<div class="search-bar container-fluid">
    <div class="row">
        <div class="col-12 col-lg-8 mx-auto">
            <div class="search-input-wrapper">
                <input
                    [formControl]="searchControl"
                    placeholder="Search for people..."
                    maxlength="10"
                    class="search-input"
                    required>
                <div class="search-underline"></div>
            </div>
            @if(searchData.length > 0) {
            <div class="search-results">
                <div class="results-header">
                    <span class="results-count">{{ searchData.length }} {{ searchData.length === 1 ? 'person' : 'people' }} found</span>
                </div>
                @for(user of searchData; track user.uuid) {
                <div class="user-result" (click)="goToProfile(user.uuid)">
                    <img [src]="'${apiUrl}' + '/' + user.profileImagePath" [alt]="user.username" class="user-avatar">
                    <div class="user-info">
                        <p class="user-name">{{ user.firstName }} {{ user.lastName }}</p>
                        <p class="user-username">@{{ user.username }}</p>
                    </div>
                </div>
                }
            </div>
            }
        </div>
    </div>
</div>
